<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.materialtest" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="extra.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/review"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sub_activity"
            android:label="@string/title_activity_sub_activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" >
            </meta-data>
        </activity>
        <activity
            android:name=".TabUsingLiabrary"
            android:label="@string/title_activity_tab_using_liabrary" >
        </activity>
        <activity
            android:name=".VideoView"
            android:label="@string/title_activity_video_view" >
        </activity>
        <activity
            android:name=".Video_Stream"
            android:label="@string/title_activity_video__stream" >
        </activity>
    </application>

</manifest>
